.chocolate{ 
display: block;
margin-left: auto;
margin-right: auto;
height: 10%;
width: 30%;

}

.echuva{

display: block;
margin-left: auto;
margin-right: auto;
height: 10%;
width: 30%;

}

